<h1>Manage Studenets</h1>
<h2>New User</h2>
<%= form_for(@user)  do |f| %>
  <%= collection_select(:role, :code, @roles, :code, :name)%>
  First Name: <%= f.text_field :first_name %>
  Last Name: <%= f.text_field :last_name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  Hourly Rate: <%= text_field_tag :rate %>
  <%= hidden_field_tag(:user_profile_id, @user_profile.id) %>
  <%= f.submit 'Submit' %>

<% end %>
